
      <div>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
         </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>

          <tr>
            <th>フォローしている</th>
            <th><%= link_to "#{user.followings.count} フォロー", followings_user_path(user) %></th>
          </tr>
          <tr>
            <th>フォローされている</th>
            <th><%= link_to "#{user.followers.count} フォロー", followers_user_path(user) %></th>
          </tr>
        </tbody>
      </table>

      <% if user == current_user %>
      <button type="button" class="btn btn-outline-secondary btn-block">
        <%= link_to 'ユーザー編集',edit_user_path(current_user.id) %>
      </button>
     <% end %>

