<ul class="list-unstyled">
  <% users.each do |user| %>
  <li class="media mb-3">
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",class: "mr-3" %>
    <div class="media-body">
      <h5><%= link_to user.name, user, class: "user_#{user.id}" %></h5>
      <p><%= user.introduction %><p>
        作品数<i class="fa fa-music fa-fw"></i><%= user.musics.count %>
    </div>
  </li>
  <% end %>
</ul>
<%= paginate users %>
