<p>
  <strong>Title:</strong>
  <%= music.title %>
</p>

<p>
  <strong>description:</strong>
  <%= music.description %>
</p>

<p>
  <strong>Audio:</strong>
  <%= audio_tag music.audio %>
</p>


<p>
  <strong>投稿日時:</strong>
  <%= music.created_at.to_s(:datetime_jp) %>
</p>

        <!-- いいね機能 -->
        <td>
          <% if music.favorited_by?(current_user) %>
            <%= link_to music_favorites_path(music, redirect_id: 0), method: :delete do %>
              <%#= fa_icon "heart", text: "#{music.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart"><%= music.favorites.count%></span>
            <% end %>
          <% else %>
            <%= link_to music_favorites_path(music, redirect_id: 0), method: :post do %>
              <%#= fa_icon "heart-o", text: "#{music.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart-empty"><%= music.favorites.count %></span>
            <% end %>
          <% end %>
        </td>


<%= link_to '戻る', musics_path %>
            <% if music.user == current_user %>
            <%= link_to '編集', edit_music_path(music) %>
            <%= link_to '削除', music, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>