<ul class="list-unstyled">
  <% musics.each do |music| %>
  <li class="media mb-3">
    <%= attachment_image_tag music, :jacket_image, :fill, 100, 100, fallback: "no_image.jpg", class: 'align-self-center mr-3' %>
    <div class="media-body">
      <h5><%= link_to music.title, music %></h5>
      <p><%= audio_tag music.audio %><p>
                  <div class="favorite-zone">
                        <% if user_signed_in? %>
                    <%= render 'musics/like', music: music%>
                <% end %>
                <i class="fa fa-commenting-o mr-1"></i><%= music.music_comments.count %>
                 </div>
    </div>
  </li>
  <% end %>
</ul>
<%= paginate musics %>
