<div class="container">
  <p id="notice"><%= notice %></p>
<div class="row">

<div class="col-md-9">
    <%= render 'music',{music: @music} %>

    <table class="show-tb comment_<%= @music.id %>">
    	<td>コメント数：<%= @music.music_comments.count %></td>
      <%= render 'comment', music_comments: @music.music_comments %>
    </table>

  <% if user_signed_in? %>
    <div class="comment-form">
      <%= form_with model:[@music, @music_comment], data: {remote: true} do |f| %>
        <%= f.text_area :comment, size: "90x5" %>
        <%= f.submit '送信' %>
      <% end %>
    </div>
  <% end %>
</div>

  <div class="col-md-3">
    <%= render 'users/info',{user: @user} %>
    <%= render 'relationships/follow_button', user: @user %>
  </div>
</div>
</div>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>