<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @music.description %>
</p>

<p>
  <strong>Audio:</strong>
  <%= audio_tag @music.audio %>
</p>


<p>
  <strong>投稿日時:</strong>
  <%= @music.created_at.to_s(:datetime_jp) %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>