<nav class="navbar navbar-expand-md navbar-light " style="background-color:#e3f2fd;">
  <a class="navbar-brand" href="#">ブランド</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3">
        <span class="navbar-text"><%= link_to 'ホーム', root_path %></span>
      </li>
      <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to 'ユーザー一覧', users_path %></span>
      </li>
      <% if user_signed_in? %>
          <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to 'マイページ', user_path(current_user.id) %></span>
          </li>
          <%= link_to 'edit profile', edit_user_registration_path %>
          <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to '編集',edit_user_path(current_user.id) %></span>
          </li>
          <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to '新規音楽投稿', new_music_path %></span>
          </li>
          <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></span>
          </li>
      <% else %>
          <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to '新規登録', new_user_registration_path %></span>
          </li>
          <li class="nav-item mr-3">
            <span class="navbar-text"><%= link_to 'ログイン', new_user_session_path %></span>
          </li>
      <% end %>

          <!-- 検索機能 -->
          <% if user_signed_in? %>
          <%= form_tag search_path, :method => 'get' do %>
            <%= text_field_tag 'search[content]' %>
            <%= select_tag 'search[model]', options_for_select({ "User" => "user", "Music" => "music" }) %>
            <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
            <%= submit_tag '検索' %>
            <% end %>
          <% end %>
          <!-- ここまで -->
    </ul>
  </div>
</nav>