<!DOCTYPE html>
<html>
  <head>
    <title>Pftest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
        <% if user_signed_in? %>
        <%= link_to 'ホーム', root_path %>
            <%= link_to 'マイページ', user_path(current_user.id) %>
            <!-- <%= link_to 'edit profile', edit_user_registration_path %> -->
             <%= link_to '編集',edit_user_path(current_user.id) %>
            <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'registration', new_user_registration_path %>
            <%= link_to 'login', new_user_session_path %>
        <% end %>
        </nav>
    </header>

    <%= yield %>
  </body>
</html>
